/* 
    Created on : 31 ene 2024, 09:30:43
    Author     : Cristhian Sandi
*/

*
{
    margin:0;
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;
    padding: 80px 20px 0;
}
.header
{
    background-color: #C6096A;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
.nav
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-menu
{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
}

.nav-menu-item
{
    color: white;
    font-size: 18px;
    margin: 0 10px;
}

.nav-menu-link
{
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link:hover
{
    background-color: #024070;
    padding: 8px 12px;
    border-radius: 10px;
    transition: 0.5s;
}

.h1_noticia
{
    color: white;
    text-decoration: none;
    position: absolute; top: 20px; left: 10px;
}

h2.no_bomb
{
    color: black;
    text-align: left;
    font-size: 16px
}

p.pa_bomb
{
    text-align: left;
}

h3
{
    color: blue;
    text-align: center;
}

h4.no_Sec
{
    color: white;
    background-color: darkblue;
    display: inline-block;
    padding: 10px;
    text-align: left;
    font-size: 16px
}

/* METEOROLOGIA */
h4.me_Sec
{
    color: white;
    background-color: darkblue;
    display: inline-block;
    padding: 15px 10px;
    text-align: left;
    font-size: 16px;
    max-width: 100%;
}

iframe.meteorol
{
    border: 5px solid black;
    margin: 3px 0px 15px ;
}

/* Consultas */
h3.consultas
{
    color: darkblue;
    font-family: cursive ;
}

aside.asi\.consultas
{
    max-height: 100%;
}

footer.footer-consultas
{
    background-color: lightblue;
    padding: 50px;
    margin: auto auto auto auto;
    border-top: 2px solid darkblue; 
}

div.div-asi-sec-consu
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 3px 5px 15px;
    margin-bottom: 0;
}
/* Tienda */

a.td-tienda
{
    color: white;
}

/* MAPA */
h3.mapa 
{
    font-family: sans-serif;
    font-size: 20px;
    background-color: black;
    color: white; /* Color del texto para que sea legible sobre el fondo azul */
    padding: 5px; /* Ajusta el espaciado interno según tus preferencias */
}

/* Deporte */

.aside-main-container 
{
    display: grid;
    grid-template-columns: 400px 800px;
    justify-content: center;
}

/* aside */

aside 
{
    max-width: 330px;
    padding: 16px;
}

.aside-hr 
{
    width: 277px;
    margin-top: 10px;
}

.aside-new-container 
{
    margin-bottom: 16px;
}

.aside-new-title 
{
    margin-bottom: 6px;
    font-size: 22px;
}

.aside-new-p 
{
    margin-bottom: 6px;
    font-size: 14px;
}

/* main */

main 
{
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

main h1 
{
    text-align: center;
    margin-bottom: 10px;
}

.main-section 
{
    margin-bottom: 30px;
}

.main-new-img 
{
    width: 100%;
    height: auto;
}

.main-new-title 
{
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.main-new-p 
{
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Sobre nosotros */
h3.so
{
    color: white;
    background-color: black;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    max-width: 100%;
}

h4.me_so
{
    
    color: white;
    background-color: black;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    max-width: 100%;
}

body.sob-body
{
    background-color: skyblue;
}

h4.me_so2
{
    color: white;
    border: 2px solid darkorchid; 
    background-color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 22px;
    max-width: 100%;
}